* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    background-color: white;
}

header {
    height: 60px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container {
    background-color: orange;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container p {
    width: 100%;
    padding: 5px;
}

.logo-container p.logo {
    width: 50%;
    display: flex;
    justify-content: baseline;
}

.logo-container p.link {
    display: flex;
    justify-content: center;
}

.logo-container p.login {
    width: 50%;
    display: flex;
    justify-content: end;
}

.first-section {
    background-color: blue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section section {
    width: 50%;
    height: 80%;
    background-color: pink;
}

.second-section {
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section div {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section section.light-blue {
    background-color: rgb(87, 198, 218);
    width: 100%;
    height: 100%;
}

.second-section section.pink {
    background-color: pink;
    width: 60%;
    height: 100%;
}

.gray {
    background-color: rgb(190, 189, 189);
}

.third-section {
    background-color: rgb(190, 189, 189);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section div {
    background-color: green;
    height: 90%;
    width: 60%;
}

.fourth-section {
    background-color: rgb(65, 63, 63);
    height: 500px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fourth-section div {
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section div.pink {
    background-color: rgb(212, 127, 141);
    height: 100%;
    width: 100%;
}

.fourth-section div.aqua {
    background-color: rgb(82, 204, 163);
    height: 100%;
    width: 50%;
}